<header class="navbar">
    <div class="nav-container">
        <a href="{{ url_for('home') }}" class="logo">
            <span class="logo-icon">🔍</span> Meme<span class="highlight hover-meme-trigger">Lens</span>
        </a>

        <nav class="nav-links">
            <a href="{{ url_for('home') }}" class="nav-item active">Home</a>
            <a href="{{ url_for('meme') }}" class="nav-item">Memes</a>
            <a href="{{ url_for('custome_model') }}" class="nav-item">Train AI Model</a>
            <a href="{{ url_for('trained_model') }}" class="nav-item btn-primary">Use Model</a>
        </nav>
    </div>
</header>
